* { /* Sets the default font and colour for the webpage */
	font-family: "Helvetica", sans-serif;
	font-size: 15 px ;
	color: rgba(5,48,31,1.0) ;
	margin: 5px;
}

body {
  background-color: rgba (151,244,207,1.0);
}
h1, h2, h4 { text-align: center; 
			 background-image: radial-gradient(cream,white);
}

/* unvisited link */
a:link {
  color: rgba (16,154,99, 1.0);
  text-decoration: none;
}

/* visited link */
a:visited { color: rgba(16,154,99, 0.5);
  text-decoration: none;
}

/* mouse over link */
a:hover {color: rgba (16,154,99, 1.0);
  text-decoration: underline;;
}

/* selected link */
a:active {color: rgba(16,154,99, 0.5);
    background-color: lightgrey;
}